*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
  background-color: #002fff;
}

.content{
    width: 30%;
    /* background-color: bisque; */
    
    margin: 100px auto;
    padding: 30px;

   
}

.content h1{
    color: white;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}

.content form{
    background-color: white;
    padding: 20px;
}

.content form label{
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 14px;
    color: red;
}
.content form input, .content form textarea{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

.btn{
    background-color: green;
    color: white;
    margin-bottom: 0px;
}